.root {
	-fx-background-image: url("bgF.png");
	-fx-background-color: lightcyan;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}

#title-text{
	-fx-font-size: 32px;
 	-fx-font-family: "Arial Black";
 	-fx-fill: #818181;
 	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#label-text{
	-fx-font-size: 20px;
 	-fx-font-family: "Acme";
}

#bank-buttons{
	-fx-border-color: transparent ;
	-fx-background-color: #336699;
	-fx-text-fill: white;
}

#bank-buttons:hover{
	-fx-opacity: 0.8;
}

#set-border{
	-fx-grid-lines-visible: true;
}
